@font-face {
    font-family: "icons";
    src: url("./icons.eot?12c1868f408ae12632f74290b98975d5#iefix") format("embedded-opentype"),
url("./icons.woff2?12c1868f408ae12632f74290b98975d5") format("woff2"),
url("./icons.woff?12c1868f408ae12632f74290b98975d5") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\f101";
}
